# Frontend
NEXT_PUBLIC_BACKEND_URL=

# Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=

# Supabase/PostgreSQL
DATABASE_URL=

# Razorpay Sandbox
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
